button {
    background: transparent;
    border: none;
    border-radius: 8px;
    color: inherit;
    cursor: pointer;
    transition: transform 100ms;
    outline: none;
    text-transform: uppercase;

    &.clear {
        background-color: transparent;
    }

    &:active {
        transform: scale3d(.98, .98, 1)
    }
}
