$list-avatar-size: 30px;

.list {
    list-style: none;
    padding: 5px 0;
}

.list__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
}

.list__item-avatar {
    margin-right: 5px;
    width: $list-avatar-size;
    height: $list-avatar-size;
    border-radius: 50%;
}

.list__item-content {
    flex-grow: 2;
}
