// French Flag
$ff-blue: #051440;
$ff-red: #EC1920;

$blue2: #2A375C;
$blue: #505A79;
$white: #FFFFFF;
$red: $ff-red;
$grey: #efeff4;

// Glowy background
$glowy-bg: linear-gradient(90deg, #6788ea, #68bcf7)
